## NOTES

資料分成:
1. train dataset -> train model
2. test dataset -> test model

合併資料可能需要"上下併"

## Exercise

1.SF Salaries Dataset from Kaggle! Follow along and complete the tasks

Check the head of DataFrame

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv("C:/Users/User/OneDrive/文件/10902研究所/機器學習於經濟與金融之應用/L5HW/Salaries.csv")
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

What is the average BasePay ?

In [4]:
df["BasePay"].mean()

66325.44884050643

What is the highest amount of OvertimePay in the dataset ?

In [3]:
df["OvertimePay"].max()

245131.88

(Hard) What was the average (mean) BasePay of all employees per year? (2011-2014) ?

In [7]:
df.groupby("Year")["BasePay"].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

(Hard) How many unique job titles are there?

In [6]:
len(df["JobTitle"].value_counts())

2159